* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    font-family: arial,sans-serif;
}
.header a {
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;
}
.header a:hover {
    text-decoration: underline;
}
.header__right {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.header__right .header__apps {
    margin-right: 10px;
}
.header__right .header__apps{
    cursor: pointer;
}
.header__right .header__circle{
    cursor: pointer;
}
.mainBody {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}
.mainBody img {
    object-fit: contain;
    height: 150px;
}
.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.search__input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}
.search__input .search {
    object-fit: contain;
    height: 25px; 
    cursor: pointer;
}
.search__input .voice{
    object-fit: contain;
    height: 30px;
    cursor: pointer;
}
.search__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search__buttons button {
margin: 5px;
padding: 10px 15px;
border: none;
outline: none;
background-color: #f2f2f2;
font-family: arial,sans-serif;
border: 1px solid #f2f2f2;
cursor: pointer;
}


#lang p {
    font-family: arial,sans-serif;
    text-align: center;
    font-size: small;
    line-height: 28px;
}
#lang a {
    text-decoration: none;
    padding: 0 3px;
}
#lang a:hover {
    text-decoration: underline;
}
.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 20px;
    color: #70757a;
    display: block;
    background-color: #f2f2f2;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    font-family: arial,sans-serif;
    background-color: #f2f2f2;
}
.footer a {
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    text-decoration: inherit;
}
.footer a:hover {
    text-decoration: underline;
}